@{Layout="_Layout";}
@model Review1_NET.Models.Product

<p>[NAME:] @Html.DisplayFor(model=>model.Name)</p>
<p>[ID:] @Html.DisplayFor(model=>model.ProductId)</p>
<p>[DESCRIPTION:] @Html.DisplayFor(model=>model.Description)</p>