@{Layout="_Layout";}
@model IEnumerable<Review1_NET.Models.Product>

<ul>
    <li>@Html.ActionLink("Add Product","Create","Products")</li>
</ul>

<h5>@Html.DisplayNameForModel()</h5>
<ol>
    @foreach(var product in Model)
    {
        <li>@Html.DisplayFor(model=>product.Name)</li>
    }
</ol> 
            