@{Layout="_Layout";}

<div>
    <h5>Welcome Consumer!</h5>
    <table style="width:100%;" border="1" cellpadding="5px">
        <tr><th colspan="2">@Html.ActionLink("HOME","Index","Home")</th></tr>
        <tr style="height:500px">
            <td valign="top" width="25%">
                <ul>
                </ul>
            </td>
            <td valign="top">
                <p>
                </p> 
            </td>
        </tr>
    </table>

</div>
